<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Stock Management</title>
<link rel="stylesheet" type="text/css" href="../../css/style.css"></link>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../../js/stock-portal.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link
	href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</head>
<body>
	<div style="margin: 16px;">
		<ul>
			<a href="#" class="list-group-item" style="cursor: default;"> <span
				class="name" id="stock_number"
				style="min-width: 170px; display: inline-block; font-size: 1.2em; text-align: center;">Stock
					Number<i onclick="sortRows(this)" style="font-size: 12px !important;padding-left:8px;" class="glyphicon glyphicon-sort"></i>
			</span> <span class="name" id="stock_name"
				style="min-width: 170px; display: inline-block; font-size: 1.2em; text-align: center;">Stock
					Name<i onclick="sortRows(this)" style="font-size: 12px !important;padding-left:8px;" class="glyphicon glyphicon-sort"></i>
			</span> <span class="name" id="purchase_date"
				style="min-width: 170px; display: inline-block; font-size: 1.2em; text-align: center;">Purchase
					Date<i onclick="sortRows(this)" style="font-size: 12px !important;padding-left:8px;"class="glyphicon glyphicon-sort"></i>
			</span> <span class="name" id="purchase_price"
				style="min-width: 170px; display: inline-block; font-size: 1.2em; text-align: center;">Purchase
					Price<i onclick="sortRows(this)" style="font-size: 12px !important;padding-left:8px;"  class="glyphicon glyphicon-sort"></i>
			</span> <span class="name" id="selling_date"
				style="min-width: 170px; display: inline-block; font-size: 1.2em; text-align: center;">Selling
					Date<i onclick="sortRows(this)" style="font-size: 12px !important;padding-left:8px;" class="glyphicon glyphicon-sort"></i>
			</span> <span class="name" id="selling_price"
				style="min-width: 170px; display: inline-block; font-size: 1.2em; text-align: center;">Selling
					Price<i onclick="sortRows(this)" style="font-size: 12px !important;padding-left:8px;" class="glyphicon glyphicon-sort"></i>
			</span> <span class="name" id="quantity"
				style="min-width: 170px; display: inline-block; font-size: 1.2em; text-align: center;">Quantity<i
					onclick="sortRows(this)" style="font-size: 12px !important;padding-left:8px;" class="glyphicon glyphicon-sort"></i></span>
			</a>
		</ul>
		<button type="button" id="create-button" class="btn btn-danger"
			style="margin: 1px;">
			<i class="glyphicon glyphicon-plus"
				style="font-size: 24px !important"></i>
		</button>
	</div>
</body>
</html>